body {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 1200px;
    background-color: grey;

    display: grid;

    grid-template-columns: repeat(3, 1fr);
}

/* container ထဲမှာရှိတဲ့ child တွေ အကုန်လုံး */
.container > *{
    /* width: 200px; */
    /* height: 80px; */

    padding: 20px 0;
}

.container div:nth-of-type(odd) {
    background-color: blue;
}

.container div:nth-of-type(even) {
    background-color: steelblue;
}

.div1 {
    grid-column: span 3;
}

.div2 {
    grid-column: span 2;
}

.div3 {
    grid-column: span 1;
}

.div4 {
    grid-column: span 1;
}

.div5 {
    grid-column: span 2;
}

.div6 {
    grid-column: span 1;
}

.div7 {
    grid-column: span 1;
}

.div8 {
    grid-column: span 1;
    grid-row: span 3;
}

.div9 {
    grid-column: span 2;
}

.div10 {
    grid-column: span 2;
}
